{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ director.name }}</h2>
{% if director.image %}
    <img src="{{ director.image.url }}" alt="{{ director.name }}" style="max-width: 300px;">
{% else %}
    <img src="{% static 'images/default_director.jpg' %}" alt="No Image Available" style="max-width: 300px;">
{% endif %}
<p>Age: {{ director.age }}</p>
<p>Sex: {{ director.sex }}</p>
<p>Movies quantity: {{ director.film_count }}</p>
<a href="{% url 'directors_list' %}">Back to directors list</a>
{% endblock %}